extends layout

block content
  .banner.proyectos
    .container
      .jumbotron
        h1 Media Sanción es un proyecto abierto sobre transparencia legislativa.
        p Creamos herramientas para comprender mejor qué sucede en el Congreso.
  .container
    .row
      .span12
        #projects.projects
          each proyecto in proyectos.payload.proyectos
            .project.span4
              .well          
                span.link
                  a(href="/proyecto/"+proyecto.proyecto.uuid) Ver proyecto
                p.summary #{ proyecto.proyecto.sumario} 

                span.comisiones
                  each comision in proyecto.proyecto.comisiones
                   span.comission #{ comision.comision.nombre }
                span.date #{ proyecto.proyecto.publicacion_fecha }

                each legislador in proyecto.proyecto.firmantes
                  .legisladores
                    span.legislador
                      small #{ legislador.legislador.uuid }
                      a(href='#{ legislador.legislador.uuid }') Ver este legislador

    .pagination
     ul
      each link in proyectos.links
        li
          a(href='/proyectos/' + (qs_parse(link.link.href).page ||qs_parse(link.link.href)['/api/0/proyectos/?page'])) #{link.link.rel}